.first table{
    position: absolute;
    top: 115px;
    left: 80px;
    width: 990px;
    height: 200px;
    overflow: auto;
    max-height: 10%;
    border-collapse: collapse;
}

.first_table{
    height: 30px;
    overflow-y: scroll;
    
}


.first th{
    font-size: 12px;
    font-family: inter;
    font-weight: 100;
    color: #4B5563;
    background-color: #F3F4F6;
    position: sticky;
    height: 20px
}

.first td{
    font-size: 12px;
    font-family: inter;
    text-align: center;
    border-bottom: 1px solid #F3F4F6;
    height: 25px;
}

.green{
    color: green;
}

.red{
    color: red;
}