.first {
    position: fixed;
   left: 0px;
   top: 0px;
   width:45px;

   height:100%; 
   display:grid;
   background-color: #1996FC;

   grid-template-columns: 60px;
   grid-auto-rows: 70px;
   grid-auto-columns: 60px;
   

}

.sides{
    color: white;
    position: relative;
    width: 20px;
    height: 20px;
    left: 11px;
    top: 25px;
}



.sides:hover{
    background-color: #FFFFFF;
    width: 125px;
    height: 33px;
    padding: 2px;
    border-radius: 5px;
    color: #1996FC;

}



.sides p{
    position: relative;
    top: -11px;
    left: 36px;
    font-size: 13px;
}
.sides1 p{
    position:relative;
    top: -63px;
    left:43px;
    font-size: 22px;
    color:#FFFFFF;
    font-weight:600;
    
}

.sides2{
    color: white;
    position: relative;
    width: 20px;
    height: 20px;
    left: 10px;
    top:-4px;
}

.sides2 p{
    position: relative;
    left: 36px;
    top: -10px;
    font-size: 13px;
}

.sides2:hover{
    background-color: #FFFF;
    width: 125px;
    height: 33px;
    padding: 2px;
    border-radius: 5px;
    color: #1996FC;
}

.sides3{
    color: white;
    position: relative;
    width: 20px;
    height: 20px;
    left: 10px;
    top: -35px;
}

.sides3 p{
    position: relative;
    top: -10px;
    font-size: 13px;
    left: 36px;
}

.sides4{
    position: relative;
    width: 20px;
    height: 20px;
    top: -65px;
    left: 10px;
}

.sides3:hover{
    width:125px;
    height:33px;
    padding: 2px;
    border-radius: 5px;
    background-color: #FFFF;
    color:#1996FC;
}

.sides4 select{
    border: none;
    border-repeat: none;
    width: 45px;
    height: 20px;
    color: white;
    position: absolute;
    left: 35px;
    background-color: #FFFF;
    font-size: 13px;
    
}
    .sides4 select:hover{
        background-color: #1996FC;
        color: #FFFF;
    }

    .sides4 option:hover{
        background-color: #FFFF;
        color:#1996FC;
        
    }


.first:hover{
    width:140px;
}



.first h1{
    position: absolute;
    width:50px;
    
}

 .second {
    position: absolute;
    width: 40px;
    height:38px;
    left:6px;
    top: 4px;
    display: flex;
    justify-content: flex-start;
}

.second p{
    position: absolute;
    width: 50px;
    height: 38px;
    left: 45px;
    top: -11px;
    font-size: 20px;
    color: #FFFFFF;
}

.first h3{
    position: absolute;
width: 84.27px;
height: 15.16px;
left: 47.73px;
top: 27.16px;

background: #FFFFFF;

}

.line{
    width: 100%;
height: 1px;
position: absolute;
/* cool-gray/200 */

background: #E5E7EB;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
top: 45px

}

.third {
    position: fixed;
     top: 10px; 
    right: 70px;
    width: 20px;
    height:23px;
    cursor:pointer;

}



.pic {
    position: fixed;
    width: 29px;
    height: 28px;
    top: 8px;
    right: 19px;
    cursor: pointer;
}

.secondline{
    width: 94%;
    height: 1px;
    position: relative;
    top: 70px;
    left: 60px;

/* cool-gray/200 */

background: #E5E7EB;

/* Inside auto layout */


}

.logout button{
    position: fixed;
    width: 60px;
    top: 7px;
    left: 900px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight:600;
    background-color: #FFFF;
    color: black;
    border-radius: 13px;
    border: none;
}

.logout button:hover{
    background-color: #1996FC;
    color: #FFFF;
    cursor: pointer;
}

.kl{
    list-style-type: none;
    position: relative;
    width: 10px;
    height: 20px;
    top: -5px;
    left: -15px;
    font-size: 10px;
    font-family: inter;
    line-height: 10px;
    color: white;
}


.lion{
    position: relative;
    width: 10px;
    height: 20px;
    top: 0px;
    left: 11px;
    font-size: 13px;
    font-family: inter;
    color: white;
}

.lion:hover{
    background-color: #FFFF;
    color: #1996FC;
    width: 90px;
    height:25px;
    border-radius: 5px;
    padding: 9px;

}

.liberal{
    position: relative;
    width: 10px;
    height: 20px;
    top: 5px;
    left: 11px;
    font-size: 13px;
    font-family: inter;
    color: white;
}

.liberal:hover{
    background-color: #FFFF;
    color: #1996FC;
    width: 90px;
    height:25px;
    border-radius: 5px;
    padding: 6px;

}

.conservative{
    position: relative;
    width: 10px;
    height: 20px;
    top: 10px;
    left: 11px;
    font-size: 13px;
    font-family: inter;
    color: white;
}

.conservative:hover{
    background-color: #FFFF;
    color: #1996FC;
    width: 90px;
    height:25px;
    border-radius: 5px;
    padding: 6px;
}








